# Ejercicio - Busqueda de Alojamiento en Airbnb.

Supongamos que somos un agente de [Airbnb](http://www.airbnb.com) localizado en Lisboa, y tenemos que atender peticiones de varios clientes. Tenemos un archivo llamado `airbnb.csv` (en la carpeta data) donde tenemos información de todos los alojamientos de Airbnb en Lisboa.

In [4]:
import pandas as pd
airbnb = pd.read_csv("./data/pandas/airbnb.csv")

In [141]:
airbnb

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0
...,...,...,...,...,...,...,...,...,...
13227,19388006,135915593,Entire home/apt,São Vicente,0,0.0,6,3.0,415.0
13228,19393935,5376796,Entire home/apt,Santa Maria Maior,0,0.0,3,1.0,50.0
13229,19396300,6115933,Entire home/apt,Santo António,0,0.0,6,4.0,138.0
13230,19397373,97139334,Entire home/apt,São Vicente,0,0.0,4,1.0,56.0
13231,19400722,28219108,Entire home/apt,Areeiro,0,0.0,5,3.0,75.0

En concreto el dataset tiene las siguientes variables:
- room_id: el identificador de la propiedad
- host_id: el identificador del dueño de la propiedad
- room_type: tipo de propiedad (vivienda completa/(habitacion para compartir/habitación privada)
- neighborhood: el barrio de Lisboa
- reviews: El numero de opiniones
- overall_satisfaction: Puntuacion media del apartamento
- accommodates: El numero de personas que se pueden alojar en la propiedad
- bedrooms: El número de habitaciones
- price: El precio (en euros) por noche

### Caso 1.

Alicia va a ir a Lisboa durante una semana con su marido y sus 2 hijos. Están buscando un apartamento con habitaciones separadas para los padres y los hijos. No les importa donde alojarse o el precio, simplemente quieren tener una experiencia agradable. Esto significa que solo aceptan lugares con más de 10 críticas con una puntuación mayor de 4. Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuación. Para aquellas habitaciones que tienen la misma puntuación, debemos mostrar antes aquellas con más críticas. Debemos darle 3 alternativas.

In [142]:
# ordenar por puntacion mas de 4
#de mayor a menor
#mostrar las que tienen mas reviews
x= airbnb[(airbnb.overall_satisfaction>= 4)]
x

y= x.sort_values(by=['reviews'], ascending = False)
y.head(3)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
120,176153,842219,Entire home/apt,Misericórdia,438,5.0,4,2.0,102.0
1369,1745355,9186518,Entire home/apt,Olivais,419,4.5,5,2.0,50.0
931,1085634,5968047,Entire home/apt,Misericórdia,379,5.0,2,1.0,52.0

### Caso 2

Roberto es un casero que tiene una casa en Airbnb. De vez en cuando nos llama preguntando sobre cuales son las críticas de su alojamiento. Hoy está particularmente enfadado, ya que su hermana Clara ha puesto una casa en Airbnb y Roberto quiere asegurarse de que su casa tiene más críticas que las de Clara. Tenemos que crear un dataframe con las propiedades de ambos. Las id de las casas de Roberto y Clara son 97503 y 90387  respectivamente. Finalmente guardamos este dataframe como excel llamado "roberto.xls

In [157]:
x= airbnb [(airbnb.room_id== 97503)]
x

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
48,97503,515924,Private room,Santo António,39,4.0,2,1.0,26.0

In [124]:
y= airbnb [(airbnb.room_id== 90387)]
y

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
41,90387,490050,Private room,Santo António,204,5.0,2,1.0,46.0


### Caso 3

Diana va a Lisboa a pasar 3 noches y quiere conocer a gente nueva. Tiene un presupuesto de 50€ para su alojamiento. Debemos buscarle las 10 propiedades más baratas, dandole preferencia a aquellas que sean habitaciones compartidas *(room_type == Shared room)*, y para aquellas viviendas compartidas debemos elegir aquellas con mejor puntuación.

In [167]:
airbnb = pd.read_csv("./data/pandas/airbnb.csv")
x= airbnb[(airbnb.price<=50)]
y= x[(x.room_type == 'Shared room')]
z=y.sort_values(by=['overall_satisfaction'], ascending = False)
z.head(10)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
6527,11523225,58899339,Shared room,Avenidas Novas,4,5.0,9,1.0,23.0
6056,10397682,32344156,Shared room,Misericórdia,15,5.0,8,1.0,13.0
7932,13570032,78249982,Shared room,Misericórdia,8,5.0,10,1.0,48.0
7552,13078189,72524317,Shared room,Ajuda,7,5.0,2,1.0,21.0
7313,12826411,6981742,Shared room,Alvalade,12,5.0,1,1.0,22.0
7312,12826213,6981742,Shared room,Alvalade,19,5.0,1,1.0,22.0
3727,5803348,29676067,Shared room,Misericórdia,19,5.0,9,1.0,20.0
3663,5725814,29676067,Shared room,Misericórdia,23,5.0,6,1.0,21.0
7066,12305540,66077974,Shared room,Arroios,40,5.0,1,1.0,13.0
8918,14719962,40574313,Shared room,Avenidas Novas,4,5.0,4,1.0,13.0